COLLECTOR_TRPC_URL=http://localhost:3000/trpc
COLLECTOR_AUTH_URL=http://localhost:3000/auth
DASHBOARD_ORIGIN=http://localhost:5173

VEHICLE_MODEL=
VEHICLE_PLATE_NUMBER=
VEHICLE_RECOMMENDED_TIRE_PSI=35
